<h1>Phonebook</h1>

<p>Phonebook Entry Component</p>

<p *ngIf="!phonebooks"><em>Loading...</em></p>

<table class='table'>
  <thead>
    <tr>
      <td>
        <p>Phonebook</p>
      </td>
      <td>
        <p>Name</p>
      </td>
      <td>
        <p>Number</p>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <mat-form-field>
          <mat-select placeholder="Phonebook">
            <mat-option *ngFor="let phonebook of phonebooks" [value]="phonebook.phonebookID">
              {{ phonebook.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </tbody>
</table>

<table class='table' *ngIf="phonebooks">
  <thead>
    <tr>
      <th>Phonebook</th>
      <th>Entries</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let phonebook of phonebooks">
      <td>{{ phonebook.phonebookName }}</td>
      <td>
        <table class='table' *ngIf="phonebook.entries">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
            </tr>
            <tr *ngFor="let entry of phonebook.entries">
              <td>{{ entry.name }}</td>
              <td>{{ entry.phoneNumber }}</td>
            </tr>
          </thead>
        </table>
      </td>
    </tr>
  </tbody>
</table>
